/* 动态生成的类名 */
.flickity-button{@apply opacity-100}

[section-name = 'products-slider-full'] .flickity-slider .is-selected{@apply opacity-100}
[section-name = 'products-slider-full'] .flickity-slider .is-selected [tag-name = 'product-info']{@apply opacity-100}
[section-name = 'products-slider-full'] .flickity-slider .is-selected [tag-name = 'product-img']{@apply scale-100}

[section-name = 'logo-slider'] .flickity-slider .is-selected img{@apply grayscale-0 scale-100}
[section-name = 'logo-slider'] .flickity-enabled.is-fade .flickity-slider>*{@apply duration-150 ease-linear}
[section-name = 'logo-slider'] .flickity-page-dots .dot{@apply rounded-none w-4 h-1 pointer-events-none}
[section-name = 'logo-slider'] .flickity-page-dots .dot.is-selected{@apply w-5}

[section-name = 'store-features'] [tag-name = 'features-header'] .h3{@apply md:text-4_5xl text-3xl mb-7}
[section-name = 'store-features'] [tag-name = 'features-header'] p{@apply text-xl px-4}

#header{@apply transition-colors duration-300}

body.template-index .stickyHeader [tag-name = 'reversal-logo']{@apply !block}
body.template-index .stickyHeader [tag-name = 'logo']{@apply !hidden}
body.template-index #header:not(.stickyHeader) [tag-name = 'logo']{@apply block}
body.template-index #header:not(.stickyHeader) [tag-name = 'reversal-logo']{@apply !hidden}
body:not(.template-index) [tag-name = 'logo']{@apply !hidden}

body.template-product #header:not(.stickyHeader) [tag-name = 'reversal-logo']{@apply !block}
body.template-product #header:not(.stickyHeader) [tag-name = 'logo']{@apply !hidden}

.template-index #header.stickyHeader [section-name = 'localization'] select{@apply text-black-900}
.template-index #header [section-name = 'localization'] select{@apply text-white}
.footer-bottom [section-name = 'localization'] select{@apply text-white}

[section-name = 'color-slider-full'] [tag-name = 'color-carousel'] div.is-selected svg{@apply !block; filter: drop-shadow(-1px -1px 0px #ffffff) drop-shadow(1px -1px 0px #ffffff) drop-shadow(1px 1px 0px #ffffff) drop-shadow(-1px 1px 0px #ffffff);}

[section-name = 'multiple-image-text'] .flickity-button{@apply bg-black-700 hover:bg-black-900}
[section-name = 'multiple-image-text'] .flickity-button-icon{@apply fill-white}
[section-name = 'multiple-image-text'] .flickity-prev-next-button.previous{@apply md:-left-14}
[section-name = 'multiple-image-text'] .flickity-prev-next-button.next{@apply md:-right-14}

[section-name = 'products-slider-full'] .flickity-button{@apply bg-black-700 hover:bg-black-900}
[section-name = 'products-slider-full'] .flickity-button-icon{@apply fill-white}
[section-name = 'products-slider-full'] .flickity-prev-next-button.previous{@apply md:left-12}
[section-name = 'products-slider-full'] .flickity-prev-next-button.next{@apply md:right-12}

[section-name = 'product-tabs-nav'] [tag-name = 'tabs-wrapper'] >a.active{@apply text-white border-solid border-0 border-b-4 border-white}

[tag-name = 'simple-menu-item'] ul.dropdown li{@apply !border-t-0}

.pswp--click-to-zoom.pswp--zoom-allowed .pswp__img{@apply bg-white}
.zoomImg{@apply !bg-white}

.slideshow-wrapper .hbStyle .flickity-page-dots{@apply px-4 max-w-page left-1/2 -translate-x-1/2 justify-start lg:bottom-12 md:bottom-8 bottom-6}
.slideshow-wrapper .hbStyle .flickity-page-dots .dot{@apply bg-white rounded-none w-2 h-2 transition-all}
.slideshow-wrapper .hbStyle .flickity-page-dots .dot.is-selected{@apply bg-vi w-8}


@media only screen and (max-width:765px) {
    .pr_thumbs_item {@apply w-[18.5%] mx-[0.3%] }
    .product-single .flickity-button{@apply hidden }
}



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root{
        --ft1:'Product Sans';
        --ft2:'Product Sans';
        --ft3:'Product Sans';
    }
    
}

@layer utilities{
    .shopify-section .grid:not(.flickity-enabled){@apply flex}
    .shopify-section .grid.flickity-enabled{@apply block}
}

@layer components {

    .site-header,#siteNav>li.ctsize, #siteNav>li.dropdown{@apply static}

    .social-icons .social-icons__link{@apply text-black-400}
    .social-icons .social-icons__link span{@apply hidden}
    .social-icons .social-icons__link i{@apply text-xl}

    #siteNav ul.dropdown li a:hover{@apply !bg-transparent}
    .btn-featured{@apply font-normal rounded-full bg-gradient-to-b from-vi-light to-vi-dark border-none  hover:text-white hover:-translate-y-1 hover:scale-95}
    .btn-contrast{@apply font-normal rounded-full bg-white text-black-900 border-white hover:text-white hover:bg-black-900 hover:border-white }
    .btn-vi{@apply font-normal rounded-full !bg-vi !border-vi hover:!text-vi hover:!bg-white hover:!border-vi }
    .template-index #header:not(.stickyHeader){@apply text-white bg-transparent absolute w-full border-none}
    .template-index #header:not(.stickyHeader) #siteNav>li>a,.template-index #header:not(.stickyHeader) .site-header a.hdicon{@apply text-white}

    .enlarge {@apply hover:scale-105 transition-transform duration-500}

}
