*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

.tw-absolute{
  position: absolute;
}

.tw-relative{
  position: relative;
}

.tw-bottom-4{
  bottom: 1rem;
}

.tw-left-0{
  left: 0px;
}

.tw-left-4{
  left: 1rem;
}

.tw-right-auto{
  right: auto;
}

.tw-top-0{
  top: 0px;
}

.tw-z-\[1\]{
  z-index: 1;
}

.tw-order-1{
  order: 1;
}

.tw-order-2{
  order: 2;
}

.tw-order-3{
  order: 3;
}

.tw-order-4{
  order: 4;
}

.tw-mx-1{
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.tw-mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.tw-my-3{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.tw-my-2{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.-tw-mb-px{
  margin-bottom: -1px;
}

.tw-mb-0{
  margin-bottom: 0px;
}

.tw-mb-10{
  margin-bottom: 2.5rem;
}

.tw-mb-12{
  margin-bottom: 3rem;
}

.tw-mb-16{
  margin-bottom: 4rem;
}

.tw-mb-18{
  margin-bottom: 4.5rem;
}

.tw-mb-2{
  margin-bottom: 0.5rem;
}

.tw-mb-3{
  margin-bottom: 0.75rem;
}

.tw-mb-4{
  margin-bottom: 1rem;
}

.tw-mb-5{
  margin-bottom: 1.25rem;
}

.tw-mb-6{
  margin-bottom: 1.5rem;
}

.tw-mb-8{
  margin-bottom: 2rem;
}

.tw-ml-2{
  margin-left: 0.5rem;
}

.tw-ml-4{
  margin-left: 1rem;
}

.tw-ms-0{
  margin-inline-start: 0px;
}

.tw-mt-0{
  margin-top: 0px;
}

.tw-mt-12{
  margin-top: 3rem;
}

.tw-mt-16{
  margin-top: 4rem;
}

.tw-mt-2{
  margin-top: 0.5rem;
}

.tw-mt-4{
  margin-top: 1rem;
}

.tw-mt-8{
  margin-top: 2rem;
}

.tw-block{
  display: block;
}

.tw-inline-block{
  display: inline-block;
}

.tw-flex{
  display: flex;
}

.tw-inline-flex{
  display: inline-flex;
}

.tw-hidden{
  display: none;
}

.tw-h-10{
  height: 2.5rem;
}

.tw-h-3{
  height: 0.75rem;
}

.tw-h-8{
  height: 2rem;
}

.tw-h-\[2px\]{
  height: 2px;
}

.tw-h-full{
  height: 100%;
}

.tw-w-1\/2{
  width: 50%;
}

.tw-w-1\/3{
  width: 33.333333%;
}

.tw-w-10{
  width: 2.5rem;
}

.tw-w-2\/5{
  width: 40%;
}

.tw-w-3{
  width: 0.75rem;
}

.tw-w-8{
  width: 2rem;
}

.tw-w-full{
  width: 100%;
}

.tw-flex-1{
  flex: 1 1 0%;
}

.tw-shrink-0{
  flex-shrink: 0;
}

.tw-cursor-pointer{
  cursor: pointer;
}

.tw-flex-wrap{
  flex-wrap: wrap;
}

.tw-flex-nowrap{
  flex-wrap: nowrap;
}

.tw-items-center{
  align-items: center;
}

.tw-items-baseline{
  align-items: baseline;
}

.tw-justify-center{
  justify-content: center;
}

.tw-justify-between{
  justify-content: space-between;
}

.tw-gap-4{
  gap: 1rem;
}

.tw-overflow-hidden{
  overflow: hidden;
}

.tw-overflow-x-auto{
  overflow-x: auto;
}

.tw-whitespace-nowrap{
  white-space: nowrap;
}

.tw-rounded{
  border-radius: 0.25rem;
}

.tw-rounded-2xl{
  border-radius: 1rem;
}

.tw-rounded-full{
  border-radius: 9999px;
}

.tw-rounded-xl{
  border-radius: 0.75rem;
}

.tw-border{
  border-width: 1px;
}

.tw-border-0{
  border-width: 0px;
}

.tw-border-2{
  border-width: 2px;
}

.tw-border-b{
  border-bottom-width: 1px;
}

.tw-border-b-2{
  border-bottom-width: 2px;
}

.tw-border-b-4{
  border-bottom-width: 4px;
}

.tw-border-r{
  border-right-width: 1px;
}

.tw-border-solid{
  border-style: solid;
}

.tw-border-black{
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.tw-border-stone-200{
  --tw-border-opacity: 1;
  border-color: rgb(231 229 228 / var(--tw-border-opacity));
}

.tw-border-stone-300{
  --tw-border-opacity: 1;
  border-color: rgb(214 211 209 / var(--tw-border-opacity));
}

.tw-border-stone-600{
  --tw-border-opacity: 1;
  border-color: rgb(87 83 78 / var(--tw-border-opacity));
}

.tw-border-transparent{
  border-color: transparent;
}

.tw-border-vi{
  --tw-border-opacity: 1;
  border-color: rgb(246 190 0 / var(--tw-border-opacity));
}

.tw-bg-\[\#fffcf4\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 252 244 / var(--tw-bg-opacity));
}

.tw-bg-stone-100{
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 244 / var(--tw-bg-opacity));
}

.tw-bg-stone-300{
  --tw-bg-opacity: 1;
  background-color: rgb(214 211 209 / var(--tw-bg-opacity));
}

.tw-bg-vi{
  --tw-bg-opacity: 1;
  background-color: rgb(246 190 0 / var(--tw-bg-opacity));
}

.tw-bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.tw-object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.tw-p-3{
  padding: 0.75rem;
}

.tw-p-4{
  padding: 1rem;
}

.tw-px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tw-px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.tw-py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.tw-py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tw-py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.tw-pb-0{
  padding-bottom: 0px;
}

.tw-pb-12{
  padding-bottom: 3rem;
}

.tw-pb-16{
  padding-bottom: 4rem;
}

.tw-pb-4{
  padding-bottom: 1rem;
}

.tw-pb-8{
  padding-bottom: 2rem;
}

.tw-pt-0{
  padding-top: 0px;
}

.tw-pt-12{
  padding-top: 3rem;
}

.tw-pt-16{
  padding-top: 4rem;
}

.tw-pt-4{
  padding-top: 1rem;
}

.tw-pt-8{
  padding-top: 2rem;
}

.tw-text-left{
  text-align: left;
}

.tw-text-center{
  text-align: center;
}

.tw-text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.tw-text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.tw-text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.tw-text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.tw-text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.tw-text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.tw-text-xl{
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.tw-font-medium{
  font-weight: 500;
}

.tw-font-semibold{
  font-weight: 600;
}

.tw-uppercase{
  text-transform: uppercase;
}

.tw-italic{
  font-style: italic;
}

.tw-leading-relaxed{
  line-height: 1.625;
}

.tw-tracking-tighter{
  letter-spacing: -0.05em;
}

.tw-text-stone-600{
  --tw-text-opacity: 1;
  color: rgb(87 83 78 / var(--tw-text-opacity));
}

.tw-text-stone-700{
  --tw-text-opacity: 1;
  color: rgb(68 64 60 / var(--tw-text-opacity));
}

.tw-text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.tw-line-through{
  text-decoration-line: line-through;
}

.tw-transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.bg-vi{
  --button-background: var(--button-background-primary) / var(--button-background-opacity, 1);
  background-color: rgb(var(--button-background));
}

.ebike-price-wrap .text-on-sale{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

@media (min-width: 1280px){
  .ebike-price-wrap .text-on-sale{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.ebike-price-wrap .text-subdued{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media (min-width: 1280px){
  .ebike-price-wrap .text-subdued{
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

.button--2xl{
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

@media (min-width: 1280px){
  .button--2xl{
    padding-left: 6rem;
    padding-right: 6rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 1536px){
  .button--2xl{
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

.page-width{
  --context-section-spacing-inline: var(--container-gutter);
  --calculated-section-spacing-inline: var(--section-spacing-inline, var(--context-section-spacing-inline));
  padding-inline-start: max(var(--calculated-section-spacing-inline),50% - var(--container-max-width) / 2);
  padding-inline-end: max(var(--calculated-section-spacing-inline),50% - var(--container-max-width) / 2);
}

.mb-carousel > *{
  grid-area: 1 / -1;
}

.mb-carousel{
  display: grid;
}

.button.focus{
  background-color: transparent !important;
  color: rgb(var(--button-outline-color) / var(--button-background-opacity, 1)) !important;
  box-shadow: inset 0 0 0 2px currentColor !important;
}

.accordion.accordion--lg{
  border-width: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 249 / var(--tw-bg-opacity));
}

.accordion.accordion--lg .accordion__content{
  padding: 0px;
}

.accordion.accordion--lg > summary{
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 249 / var(--tw-bg-opacity));
  padding-left: 2rem;
  padding-right: 2rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.accordion.accordion--lg[aria-expanded="true"] > summary{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

[section-name="accordion"] .style1{
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}

@media (min-width: 769px){
  [section-name="accordion"] .style1{
    margin-bottom: 2.5rem;
  }
}

[section-name="accordion"] .style1 > span{
  margin-bottom: 0.5rem;
}

[section-name="accordion"] .style1 > h3{
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
}

[section-name="accordion"] .style1 > p{
  height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(120 113 108 / var(--tw-text-opacity));
}

[section-name="accordion"] .style2{
  margin-bottom: 1rem;
  display: flex;
  height: 100%;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
}

@media (min-width: 769px){
  [section-name="accordion"] .style2{
    padding-left: 1.5rem;
  }
}

[section-name="accordion"] .style2 > span{
  margin-right: 0.5rem;
  display: flex;
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  font-size: 1rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --button-background: var(--button-background-primary) / var(--button-background-opacity, 1);
  background-color: rgb(var(--button-background));
}

[section-name="accordion"] .style2 > h3{
  font-size: 1rem;
  line-height: 1.5rem;
}

[section-name="accordion"] .style2 > p{
  float: right;
  margin-left: auto;
}

[section-name="accordion"] .style3{
  margin-bottom: 1rem;
  display: flex;
  height: 100%;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
}

@media (min-width: 769px){
  [section-name="accordion"] .style3{
    padding-left: 1.5rem;
  }
}

[section-name="accordion"] .style3 > span{
  margin-right: 0.5rem;
  display: flex;
  height: 0.5rem;
  width: 0.5rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(168 162 158 / var(--tw-bg-opacity));
  font-size: 1rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

[section-name="accordion"] .style3 > h3{
  font-size: 1rem;
  line-height: 1.5rem;
}

[section-name="accordion"] .style3 > p{
  float: right;
  margin-left: auto;
}

.tabs-content-section .tab-item.active span{
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

[section-name="tab-product-content"] .carousel-cell-product:nth-child(n+4){
  display: none;
}

@media (min-width: 769px){
  [section-name="tab-product-content"] .carousel-cell-product:nth-child(n+4){
    display: block;
  }
}

[section-name="tab-product-content"] .carousel-cell-product .product-card__figure{
  margin-left: auto;
  margin-right: auto;
  width: 83.333333%;
}

@media (min-width: 769px){
  [section-name="tab-product-content"] .carousel-cell-product .product-card__figure{
    width: 80%;
  }
}

@media (min-width: 1280px){
  [section-name="tab-product-content"] .carousel-cell-product .product-card__figure{
    width: 60%;
  }
}

[section-name="tab-product-content"] .carousel-cell-product .product-card__info{
  padding: 1rem;
}

@media (min-width: 769px){
  [section-name="tab-product-content"] .carousel-cell-product .product-card__info{
    padding: 1.5rem;
  }
}

@media (min-width: 1280px){
  [section-name="tab-product-content"] .carousel-cell-product .product-card__info{
    display: flex;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2rem;
  }
}

[section-name="tab-product-content"] .carousel-cell-product .product-card__info .v-stack{
  display: flex;
  align-items: center;
}

[section-name="tab-product-content"] .carousel-cell-product .product-card__info .product-card__aside{
  display: flex;
  flex-shrink: 0;
}

[section-name="tab-product-content"] .carousel-cell-product .product-card__title{
  position: relative;
  margin-right: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

[section-name="tab-product-content"] .carousel-cell-product .product-card__title::before{
  position: absolute;
  top: 50%;
  right: -0.75rem;
  height: 50%;
  width: 3px;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  --tw-content: '';
  content: var(--tw-content);
}

[section-name="tab-product-content"] .flickity-button:disabled{
  display: none;
}

[section-name="tab-product-content"] .flickity-button{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.pr-color-option li.active{
  --tw-border-opacity: 1 !important;
  border-color: rgb(28 25 23 / var(--tw-border-opacity)) !important;
}

.eb2-info .product-info__text{
  font-size: 1rem;
  line-height: 1.5rem;
}

.eb2-info .product-info__button .button{
  border-radius: 0px;
}

.eb2-info .product-info__title{
  font-weight: 600;
  letter-spacing: 0.025em;
}

.eb2-info .rating-with-text sale-price{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

[section-name="featured-product-ebike"]{
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 769px){
  [section-name="featured-product-ebike"]{
    border-radius: 0px;
    padding: 0px;
  }
}

.item-tab.active{
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 1;
}

.tw-mask{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  background-attachment: fixed;
}

[section-name="tabs-image-text-list"] .product-card__info .v-stack.w-full{
  display: none;
}

[section-name="tabs-image-text-list"] .product-card__info .product-card__aside{
  margin-left: auto;
  margin-right: auto;
}

[section-name="tabs-image-text-list"] .product-card__figure img{
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

[section-name="tabs-image-text-list"] .product-card{
  display: inline;
}

.before\:tw-absolute::before{
  content: var(--tw-content);
  position: absolute;
}

.before\:tw-left-0::before{
  content: var(--tw-content);
  left: 0px;
}

.before\:tw-h-full::before{
  content: var(--tw-content);
  height: 100%;
}

.before\:tw-w-1\/5::before{
  content: var(--tw-content);
  width: 20%;
}

.before\:tw-bg-black::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.before\:tw-transition-all::before{
  content: var(--tw-content);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.before\:tw-content-\[\'\'\]::before{
  --tw-content: '';
  content: var(--tw-content);
}

.first\:tw-mr-6:first-child{
  margin-right: 1.5rem;
}

.last\:\!tw-border-0:last-child{
  border-width: 0px !important;
}

.hover\:tw-border-gray-300:hover{
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.hover\:tw-text-gray-600:hover{
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.hover\:tw-opacity-80:hover{
  opacity: 0.8;
}

.tw-group:hover .group-hover\:before\:tw-w-full::before{
  content: var(--tw-content);
  width: 100%;
}

@media (min-width: 769px){
  .md\:tw-bottom-8{
    bottom: 2rem;
  }

  .md\:tw-left-auto{
    left: auto;
  }

  .md\:tw-right-\[18\%\]{
    right: 18%;
  }

  .md\:tw-order-2{
    order: 2;
  }

  .md\:tw-my-5{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .md\:tw-mb-0{
    margin-bottom: 0px;
  }

  .md\:tw-mb-10{
    margin-bottom: 2.5rem;
  }

  .md\:tw-mb-12{
    margin-bottom: 3rem;
  }

  .md\:tw-mb-14{
    margin-bottom: 3.5rem;
  }

  .md\:tw-mb-18{
    margin-bottom: 4.5rem;
  }

  .md\:tw-mb-3{
    margin-bottom: 0.75rem;
  }

  .md\:tw-mb-4{
    margin-bottom: 1rem;
  }

  .md\:tw-mb-6{
    margin-bottom: 1.5rem;
  }

  .md\:tw-mb-8{
    margin-bottom: 2rem;
  }

  .md\:tw-ml-6{
    margin-left: 1.5rem;
  }

  .md\:tw-mt-0{
    margin-top: 0px;
  }

  .md\:tw-mt-12{
    margin-top: 3rem;
  }

  .md\:tw-mt-16{
    margin-top: 4rem;
  }

  .md\:tw-mt-18{
    margin-top: 4.5rem;
  }

  .md\:tw-mt-4{
    margin-top: 1rem;
  }

  .md\:tw-mt-5{
    margin-top: 1.25rem;
  }

  .md\:tw-mt-6{
    margin-top: 1.5rem;
  }

  .md\:tw-mt-8{
    margin-top: 2rem;
  }

  .md\:tw-flex{
    display: flex;
  }

  .md\:tw-grid{
    display: grid;
  }

  .md\:tw-w-1\/2{
    width: 50%;
  }

  .md\:tw-w-1\/3{
    width: 33.333333%;
  }

  .md\:tw-w-2\/5{
    width: 40%;
  }

  .md\:tw-w-3\/5{
    width: 60%;
  }

  .md\:tw-w-\[55\%\]{
    width: 55%;
  }

  .md\:tw-w-full{
    width: 100%;
  }

  .md\:tw-items-center{
    align-items: center;
  }

  .md\:tw-justify-normal{
    justify-content: normal;
  }

  .md\:tw-rounded-3xl{
    border-radius: 1.5rem;
  }

  .md\:tw-border-b-\[6px\]{
    border-bottom-width: 6px;
  }

  .md\:tw-p-10{
    padding: 2.5rem;
  }

  .md\:tw-p-4{
    padding: 1rem;
  }

  .md\:tw-px-2{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .md\:tw-px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .md\:tw-py-2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .md\:tw-pb-0{
    padding-bottom: 0px;
  }

  .md\:tw-pb-12{
    padding-bottom: 3rem;
  }

  .md\:tw-pb-18{
    padding-bottom: 4.5rem;
  }

  .md\:tw-pb-4{
    padding-bottom: 1rem;
  }

  .md\:tw-pb-6{
    padding-bottom: 1.5rem;
  }

  .md\:tw-pr-4{
    padding-right: 1rem;
  }

  .md\:tw-pr-8{
    padding-right: 2rem;
  }

  .md\:tw-pt-0{
    padding-top: 0px;
  }

  .md\:tw-pt-12{
    padding-top: 3rem;
  }

  .md\:tw-pt-18{
    padding-top: 4.5rem;
  }

  .md\:tw-pt-4{
    padding-top: 1rem;
  }

  .md\:tw-pt-6{
    padding-top: 1.5rem;
  }

  .md\:tw-pt-8{
    padding-top: 2rem;
  }

  .md\:tw-text-left{
    text-align: left;
  }

  .md\:tw-text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:tw-text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:tw-text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:tw-text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .md\:tw-text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .md\:tw-text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:tw-text-xl{
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1024px){
  .lg\:tw-mb-14{
    margin-bottom: 3.5rem;
  }

  .lg\:tw-mb-20{
    margin-bottom: 5rem;
  }

  .lg\:tw-mb-4{
    margin-bottom: 1rem;
  }

  .lg\:tw-mb-8{
    margin-bottom: 2rem;
  }

  .lg\:tw-mt-14{
    margin-top: 3.5rem;
  }

  .lg\:tw-mt-20{
    margin-top: 5rem;
  }

  .lg\:tw-mt-4{
    margin-top: 1rem;
  }

  .lg\:tw-mt-8{
    margin-top: 2rem;
  }

  .lg\:tw-w-1\/2{
    width: 50%;
  }

  .lg\:tw-w-1\/3{
    width: 33.333333%;
  }

  .lg\:tw-w-full{
    width: 100%;
  }

  .lg\:tw-flex-1{
    flex: 1 1 0%;
  }

  .lg\:tw-pb-14{
    padding-bottom: 3.5rem;
  }

  .lg\:tw-pb-20{
    padding-bottom: 5rem;
  }

  .lg\:tw-pb-4{
    padding-bottom: 1rem;
  }

  .lg\:tw-pb-8{
    padding-bottom: 2rem;
  }

  .lg\:tw-pt-14{
    padding-top: 3.5rem;
  }

  .lg\:tw-pt-20{
    padding-top: 5rem;
  }

  .lg\:tw-pt-4{
    padding-top: 1rem;
  }

  .lg\:tw-pt-8{
    padding-top: 2rem;
  }
}

@media (min-width: 1280px){
  .xl\:tw-right-\[21\%\]{
    right: 21%;
  }

  .xl\:tw-my-8{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .xl\:tw-mb-10{
    margin-bottom: 2.5rem;
  }

  .xl\:tw-mb-12{
    margin-bottom: 3rem;
  }

  .xl\:tw-mb-14{
    margin-bottom: 3.5rem;
  }

  .xl\:tw-mb-16{
    margin-bottom: 4rem;
  }

  .xl\:tw-mb-4{
    margin-bottom: 1rem;
  }

  .xl\:tw-mb-6{
    margin-bottom: 1.5rem;
  }

  .xl\:tw-mt-10{
    margin-top: 2.5rem;
  }

  .xl\:tw-mt-16{
    margin-top: 4rem;
  }

  .xl\:tw-mt-4{
    margin-top: 1rem;
  }

  .xl\:tw-mt-8{
    margin-top: 2rem;
  }

  .xl\:tw-w-1\/2{
    width: 50%;
  }

  .xl\:tw-w-2\/5{
    width: 40%;
  }

  .xl\:tw-w-5\/6{
    width: 83.333333%;
  }

  .xl\:tw-px-20{
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .xl\:tw-py-12{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .xl\:tw-pb-10{
    padding-bottom: 2.5rem;
  }

  .xl\:tw-pb-16{
    padding-bottom: 4rem;
  }

  .xl\:tw-pb-24{
    padding-bottom: 6rem;
  }

  .xl\:tw-pb-4{
    padding-bottom: 1rem;
  }

  .xl\:tw-pr-8{
    padding-right: 2rem;
  }

  .xl\:tw-pt-10{
    padding-top: 2.5rem;
  }

  .xl\:tw-pt-16{
    padding-top: 4rem;
  }

  .xl\:tw-pt-4{
    padding-top: 1rem;
  }

  .xl\:tw-text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .xl\:tw-text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .xl\:tw-text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .xl\:tw-text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .xl\:tw-text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }

  .xl\:tw-text-xl{
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1536px){
  .\32xl\:tw-mb-12{
    margin-bottom: 3rem;
  }

  .\32xl\:tw-mb-18{
    margin-bottom: 4.5rem;
  }

  .\32xl\:tw-mb-24{
    margin-bottom: 6rem;
  }

  .\32xl\:tw-mb-6{
    margin-bottom: 1.5rem;
  }

  .\32xl\:tw-mb-8{
    margin-bottom: 2rem;
  }

  .\32xl\:tw-mt-12{
    margin-top: 3rem;
  }

  .\32xl\:tw-mt-18{
    margin-top: 4.5rem;
  }

  .\32xl\:tw-mt-20{
    margin-top: 5rem;
  }

  .\32xl\:tw-mt-24{
    margin-top: 6rem;
  }

  .\32xl\:tw-mt-6{
    margin-top: 1.5rem;
  }

  .\32xl\:tw-pb-12{
    padding-bottom: 3rem;
  }

  .\32xl\:tw-pb-18{
    padding-bottom: 4.5rem;
  }

  .\32xl\:tw-pb-24{
    padding-bottom: 6rem;
  }

  .\32xl\:tw-pb-6{
    padding-bottom: 1.5rem;
  }

  .\32xl\:tw-pr-12{
    padding-right: 3rem;
  }

  .\32xl\:tw-pr-18{
    padding-right: 4.5rem;
  }

  .\32xl\:tw-pt-12{
    padding-top: 3rem;
  }

  .\32xl\:tw-pt-16{
    padding-top: 4rem;
  }

  .\32xl\:tw-pt-18{
    padding-top: 4.5rem;
  }

  .\32xl\:tw-pt-24{
    padding-top: 6rem;
  }

  .\32xl\:tw-pt-6{
    padding-top: 1.5rem;
  }

  .\32xl\:tw-text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }

  .\32xl\:tw-text-7xl{
    font-size: 4.5rem;
    line-height: 1;
  }

  .\32xl\:tw-text-xl{
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

.\[\&\>\*\:nth-child\(2n\)\]\:\!tw-border-0>*:nth-child(2n){
  border-width: 0px !important;
}

.\[\&\>\*\:nth-child\(3n\)\]\:\!tw-border-0>*:nth-child(3n){
  border-width: 0px !important;
}
